<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partials/_meta_tags') %>
    <%- include('partials/_styles') %>
      <%- include('partials/_scripts') %>

        <title>Home Page</title>

</head>

<body>

  <%- include('partials/_header') %>
    <%- include('todos') %>

      <h1>Icons/Links Stored for Later Use Here: <i class="fa-solid fa-utensils"></i> <i class="fa-solid fa-book"></i>
        <i class="fa-solid fa-film"></i> <i class="fa-solid fa-basket-shopping"></i>
      </h1>

</body>

</html>
