<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partials/_meta_tags') %>
  <%- include('partials/_styles') %>
  <%- include('partials/_scripts') %>

  <title>Home Page</title>

</head>

<body>

  <%- include('partials/_header') %>

  <main>

    <% if(!user){ %>
    <%- include('partials/_landing_page') %>
    <% } else { %>
    <%- include('partials/_todos_page_header') %>
    <section id="todos-container"></section>
    <div class="spinner"></div>

    <section id="editForm"></section>
    <% } %>

  </main>

  <%- include('partials/_footer') %>

</body>

</html>
