<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partials/_meta_tags') %>
    <%- include('partials/_styles') %>
      <%- include('partials/_scripts') %>

        <title>Home Page</title>

</head>

<body>

  <%- include('partials/_header') %>

  <%- include('todos') %>

</body>

</html>
