<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partials/_meta_tags') %>
  <%- include('partials/_styles') %>
  <%- include('partials/_scripts') %>

  <title>Register</title>
</head>

<body>
  <%- include('partials/_header') %>
  <main class="profilecontainer">
    <h1 class="signup">My Profile</h1>
    <!-- POST Express Validator - Displaying any errors to user -->
    <% if (errors) { %>
    <% for (let error in errors) { %>
    <p class="errMessageOff" id="errMsg">
      <i class="fa-solid fa-triangle-exclamation"></i> <%= errors[error].msg %> <i class="fa-solid fa-triangle-exclamation"></i></p>
    </div>
      <% } %>
    <% } %>
    <div id="menulabeltext">
      <div>
        <label class="menulabels profile_name">Current settings for <%= user.name %>: </label>
      </div>
      <br>
      <div>
        <label class="menulabels profile_email">Current Email: <%= user.email %></label>
      </div>
      <div>
        <!-- Function to make first letter of City Uppercase -->
        <% const city = []; %>
        <% user.location.split(" ").forEach(word => {  %>
        <%  city.push((word[0].toUpperCase() + word.slice(1)))  %>
        <% }) %>
        <% const cityString = city.join(" ") %>
        <label class="menulabels profile_city">Current City: <%= cityString %> </label>
      </div>
    </div>
    <br>
    <form method="POST" action="/profile">
      <!-- User will have option to update PROFILE email or city -->
      <div>
        <label class="menulabels">Change email:</label>
        <input type="email" name="email" class="inputfield" placeholder="Type new email here">
      </div>
      <div>
        <br>
        <label class="menulabels">Change City:</label>
        <input type="text" name="city" class="inputfield" placeholder="Type new City here">
      </div>
      <br>
      <button type="submit">Save</button>
    </form>
  </main>
</body>
</html>
