<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partials/_meta_tags') %>
  <%- include('partials/_styles') %>
  <%- include('partials/_scripts') %>

  <title>Register</title>
</head>

<body>
  <%- include('partials/_header') %>


  <div class="card large">
    <div class="row">
      <h4>My Profile</h4>
      <br>
      <div>
        <p class="menulabels profile_name">Your Name: <%= user.name %> </p>
      </div>
      <br>
      <div>
        <p class="menulabels profile_email">Current Email: <%= user.email %></p>
      </div>
      <br>

      <div>
        <!-- Function to make first letter of City Uppercase -->
        <% const city = []; %>
        <% user.location.split(" ").forEach(word => {  %>
        <%  city.push((word[0].toUpperCase() + word.slice(1)))  %>
        <% }) %>
        <% const cityString = city.join(" ") %>
        <p class="menulabels profile_city">Current City: <%= cityString %> </p>
      </div>

      <br>

      <form method="POST" action="/profile" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <label for="email">Change Email</label>
            <input id="email" name="email" type="email" class="validate">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <label for="city">Change City</label>
            <input name="city" id="city" type="text" class="validate">
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
      </form>
    </div>
  </div>


</body>

</html>
