<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partials/_meta_tags') %>
    <%- include('partials/_styles') %>
      <%- include('partials/_scripts') %>
        <title>Register</title>
</head>

<body>
  <%- include('partials/_header') %>

    <main class="container">

      <h1>New Account</h1>


  <!-- Error handling test -->
  <% if(errors) { %>
    <% for (let error in errors) { %>
      <p class="newError" id="nameMsg">
        <i class="fa-solid fa-triangle-exclamation"></i><%= errors[error].msg %> <i class="fa-solid fa-triangle-exclamation"></i>

      </p>
      </div>
      <% } %>
        <% } %>

              <form method="POST" action="/register">
                <div>
                  <label>Your Name:</label>
                  <br>
                  <input type="text" name="name">
                </div>
                <div>
                  <label>Email:</label>
                  <br>
                  <input type="email" name="email">
                </div>
                <div>
                  <label>Password:</label>
                  <br>
                  <input type="password" name="password">
                </div>
                <button type="submit">Submit</button>
              </form>

              <p>
                Already have an account? Click <a href="/login">HERE</a>
              </p>

  <!-- Error Message popups -->

  <p class="errMessageOff" id="nameMsg">
    <i class="fa-solid fa-triangle-exclamation"></i> Please enter your name <i class="fa-solid fa-triangle-exclamation"></i>
  </p>

  <p class="errMessageOff" id="emailMsg">
    <i class="fa-solid fa-triangle-exclamation"></i> Please enter your email <i class="fa-solid fa-triangle-exclamation"></i>
  </p>

  <p class="errMessageOff" id="pwdMsg">
    <i class="fa-solid fa-triangle-exclamation"></i> Please create a strong password <i class="fa-solid fa-triangle-exclamation"></i>
  </p>

  </main>

</body>

</html>
